@import 'base/colors';
@import 'base/scrollbar';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  position: relative;
  color: initial;
  text-decoration: none;
  cursor: pointer;

  &.secondary:not(.highlight)::after {
    border: 1px solid $color-secondary;
  }

  &:not(.highlight)::after {
    content: '';
    border: 1px solid $color-primary;
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
  }

  &:not(.highlight):hover::after {
    opacity: 1;
    transform: translateY(-5px);
  }

  &.highlight {
    border-radius: 2px;
    color: currentColor;
    padding: 0 2px 2px;
    position: relative;
    transition-duration: 0.2s;
    transition-property: box-shadow, color;

    &.highlight--primary {
      box-shadow: 0 10px 0 0 rgba($color-primary-selection, 0),
        inset 0 -0.125em rgba($color-primary-selection, 0.2);

      &:hover {
        color: $color-primary;
        box-shadow: 0 1px 0 2px rgba($color-primary-selection, 0.1),
          inset 0 -1.3em 0 rgba($color-primary-selection, 0.1);
      }
    }

    &.highlight--secondary {
      box-shadow: 0 10px 0 0 rgba($color-secondary-selection, 0),
        inset 0 -0.125em rgba($color-secondary-selection, 0.2);

      &:hover {
        color: $color-secondary;
        box-shadow: 0 1px 0 2px rgba($color-secondary-selection, 0.1),
          inset 0 -1.3em 0 rgba($color-secondary-selection, 0.1);
      }
    }
  }
}
