@import '../../../styles/base/medias';
@import '../../../styles/base/colors';

.container {
  width: 100%;
  padding: 1rem;
  margin: 2rem auto;

  @include sm {
    max-width: 960px;
  }
}

.title {
  font-size: 26px;
  font-weight: 500;
}

.subtitle {
  margin-top: 0.2rem;
  font-size: 15px;
  font-weight: 100;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(500px, auto);
  grid-gap: 1rem;
  margin-top: 2rem;
}

.card {
  position: relative;
  overflow: hidden;
  // background-color: white;
  padding: 0.5rem;
  box-shadow: 0 6px 12px -2px rgb(50 50 93 / 20%),
    0 3px 0px -3px rgb(0 0 0 / 10%);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  position: relative;
  color: #5d5e5e;
  transition-duration: 0.3s;

  &::after {
    background-image: linear-gradient(120deg, $color-secondary, $color-primary);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50%;
    left: 0;
    transform: skewY(-11deg);
    z-index: -1;
  }

  &:hover {
    transform: translateY(-2px);

    &::after {
      transform: skewY(11deg);
    }
  }
}
